.contact {
  width: 100%;
  background: $primary-color;

  padding: 7.5rem 3.2rem 5.5rem;
  text-align: center;

  margin-top: 12rem;

  @include md {
    padding-bottom: 7rem;
  }

  .wrapper {
    max-width: 44rem;
    margin: 0 auto;
  }

  .people {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.3rem;

    letter-spacing: 4px;
    font-weight: 500;
  }

  .title-fourth {
    font-size: 2.4rem;
    font-weight: 500;
    color: #fff;
    margin-top: 1rem;
    line-height: 3rem;

    @include md {
      font-size: 3.2rem;
      margin-top: 3.5rem;
      line-height: 4rem;
    }
  }

  form {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;

    @include md {
      flex-direction: row;
    }

    .input-email-wrapper {
      width: 100%;
      border-radius: 4px;

      @include md {
        max-width: 30rem;
      }

      input {
        font-family: "Rubik", sans-serif;
        font-size: 1.4rem;
        padding: 1.5rem 1.5rem;
        border-radius: 4px;
        display: block;
        color: $fourth-color;
        width: 100%;

        &::placeholder {
          color: gray;
        }
      }

      .error {
        display: none;
        padding: 5px 10px;
        font-size: 1rem;
        font-weight: 500;
        text-align: left;
        color: #fff;
        font-style: italic;
      }

      &.-show-error {
        background-color: $secondary-color;
        padding: 2px;

        & .error {
          display: block;
        }
      }
    }

    button {
      margin-top: 1rem;
      background-color: $secondary-color;
      border: 2px transparent solid;

      &:hover {
        background-color: #fff;
        color: $secondary-color;
        border-color: $secondary-color;
      }

      @include md {
        margin-left: 2rem;
        margin-top: 0;
        height: 5rem;
        width: 12.5rem;
        padding: 0;
      }
    }
  }
}
