.features {
  text-align: center;
  margin-top: 11rem;

  @include lg {
    margin-top: 5.5rem;
  }

  .text-wrapper {
    max-width: 53rem;
    margin: 1rem auto 2.5rem;

    .paragraph-description {
      padding: 1.5rem 3rem;

      @include lg {
        padding: 2rem 3rem;
      }
    }
  }

  .features-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;

    @include md {
      flex-direction: row;

      max-width: 76.5rem;
      margin: 0 auto;
    }

    .features-options-wrapper {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;

      border: rgba(145, 148, 161, 0.4) 1px solid;
      border-left: none;
      border-right: none;

      @include md {
        border: rgba(145, 148, 161, 0.4) 1px solid;
        border-left: none;
        border-top: none;
        border-right: none;
      }
    }

    .features-options-wrapper:nth-child(even) {
      border: none;

      @include md {
        border: rgba(145, 148, 161, 0.4) 1px solid;

        border-top: none;
        border-left: none;
        border-right: none;
      }
    }

    .feature-label {
      width: auto;
      padding: 3rem 2rem;
      font-size: 1.6rem;
      display: block;
      cursor: pointer;
      position: relative;

      @include md {
        flex: 1;
      }

      color: #616169;
    }

    .feature-control {
      position: absolute;
      left: -9999px;

      &:checked ~ .feature-label {
        color: $fourth-color;

        @include md {
          font-weight: 500;
        }

        &:after {
          content: "";
          width: 70%;
          display: block;
          position: absolute;
          height: 4px;
          bottom: 0;
          left: 50%;
          background-color: $secondary-color;
          transform: translateX(-50%);

          @include md {
            width: 100%;
            left: 0;
            right: 0;
            transform: translateX(0%);
          }
        }
      }
    }
  }

  /** Images */
  .features-description {
    position: relative;
    min-height: 60rem;
    margin-top: 2rem;
  }

  .intro {
    position: absolute;
    transition: all 0.2s ease-in-out;

    @include md {
      margin-top: 6rem;
    }

    .intro-image-container {
      overflow: initial;
      padding: 0 0 7rem;

      // height: 42rem;

      @include md {
        margin-right: 1.5rem;
        height: initial;
      }

      @include lg {
        transform: none;
      }

      @include lgx {
        margin-right: 0;
        // flex: 2;
      }
    }
    /** Images basics */
    .intro-image-pseudo {
      margin: 0 auto;

      @include lgx {
      }

      @include lxx {
        margin: 0;
      }

      &:before {
        width: 200%;
        transform: translateX(-60%) translateY(25%);
      }

      .intro-image {
        height: 100%;
        width: 90%;

        @include md {
          margin-left: 2rem;
          width: 100%;
        }

        @include lxx {
          margin-left: 0;
        }
      }
    }

    /** Image 1 */
    &:first-child {
      max-width: 110.5rem;

      .intro-image-container {
        @include lg {
          transform: translateX(0%);
        }

        .intro-image-pseudo {
          @include md {
            max-width: 45rem;
            max-height: 34.5rem;
          }

          @include lxx {
            max-width: 53.4rem;
            max-height: 34.5rem;
          }
        }

        .intro-image-pseudo:before {
          height: 90%;

          transform: translateX(-60%) translateY(20%);

          @include md {
            height: 100%;
          }

          @include lg {
            transform: translateX(-60%) translateY(25%);
          }
        }
      }
    }

    /** Image 2 */
    &:nth-child(2) {
      max-width: 118rem;

      .product-description {
        @include lxx {
          margin-left: 0;
          padding-left: 2rem;

          .paragraph-description {
            padding-right: 1rem;
          }
        }
      }

      .intro-image-container {
        @include lxx {
          padding-left: 11rem;
        }

        .intro-image-pseudo {
          max-width: 48rem;
          max-height: 41.5rem;

          &:before {
            height: 90%;
          }
        }
      }
    }

    /** Image 3 */
    &:nth-child(3) {
      .intro-image-container {
        .intro-image-pseudo {
          max-width: 49rem;
          max-height: 38rem;

          &:before {
            height: 90%;

            @include lg {
              height: 92%;
            }
          }
        }
      }
    }

    .content-wrapper {
      @include lg {
        justify-content: center;
      }

      .product-description .row > a:last-child {
        margin-left: 0;
      }
    }

    &.-active {
      left: 50%;
      transform: translateX(-50%);
    }

    &:nth-child(even):not(.-active) {
      left: -9999px;
    }

    &:nth-child(odd):not(.-active) {
      left: 9999px;
    }
  }

  & .product-description {
    order: 0;
    margin-top: 1.5rem;

    @include md {
      order: 1;
      margin-top: 0;

      padding: 2rem 5rem;
    }

    @include lg {
      padding: 4rem 1rem;
    }

    @include lgx {
      margin-left: 13rem;
      padding: 7rem 0rem;
    }

    .paragraph-description {
      padding: 1.5rem 1rem;

      @include md {
        padding: 2rem 0;
      }
    }
  }
}

.download {
  margin-top: 15rem;
}
