.features {
  text-align: center;

  .text-wrapper {
    max-width: 53rem;
    margin: 0 auto;
  }

  .features-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include md {
      flex-direction: row;

      max-width: 73rem;
      margin: 0 auto;
    }

    .features-options-wrapper {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;

      border: rgba(145, 148, 161, 0.4) 1px solid;
      border-left: none;
      border-right: none;

      @include md {
        border: rgba(145, 148, 161, 0.4) 1px solid;
        border-left: none;
        border-top: none;
        border-right: none;
      }
    }

    .features-options-wrapper:nth-child(even) {
      border: none;

      @include md {
        border: rgba(145, 148, 161, 0.4) 1px solid;

        border-top: none;
        border-left: none;
        border-right: none;
      }
    }

    .feature-label {
      width: auto;
      padding: 2rem;
      font-size: 1.6rem;
      display: block;
      cursor: pointer;
      position: relative;

      @include md {
        flex: 1;
      }

      color: #616169;
    }

    .feature-control {
      position: absolute;
      left: -9999px;

      &:checked ~ .feature-label {
        color: $fourth-color;
        font-weight: 500;

        &:after {
          content: "";
          width: 70%;
          display: block;
          position: absolute;
          height: 4px;
          bottom: 0;
          left: 50%;
          background-color: $secondary-color;
          transform: translateX(-50%);

          @include md {
            width: 100%;
            left: 0;
            right: 0;
            transform: translateX(0%);
          }
        }
      }
    }
  }

  /** Images */
  .features-description {
    position: relative;
    min-height: 60rem;
  }

  .intro {
    position: absolute;

    @include md {
      margin-top: 6rem;
    }

    .intro-image-container {
      overflow: initial;
      padding: 0 0 7rem;

      height: 42rem;

      @include md {
        margin-right: 1.5rem;
        height: initial;
      }

      @include lg {
        transform: none;
      }

      @include lgx {
        flex: 2;
      }
    }
    /** Images basics */
    .intro-image-pseudo {
      margin: 0 auto;

      @include lgx {
        margin-left: 17rem;
      }

      @include lxx {
        margin-left: 23rem;
      }

      &:before {
        width: 200%;
        transform: translateX(-60%) translateY(25%);
      }

      .intro-image {
        height: 100%;
        width: 90%;

        @include md {
          margin-left: 2rem;
        }
      }
    }

    /** Image 1 */
    &:first-child {
      .intro-image-container {
        @include lg {
          transform: translateX(0%);
        }

        .intro-image-pseudo {
          @include lg {
            margin-left: 15rem;
          }

          @include lgx {
            width: 54rem;
            height: 34.5rem;
          }
        }

        .intro-image-pseudo:before {
          height: 90%;

          @include lg {
            height: 100%;
          }
        }
      }
    }

    /** Image 2 */
    &:nth-child(2) {
      .intro-image-container {
        .intro-image-pseudo {
          max-width: 52rem;
          max-height: 41.5rem;

          &:before {
            height: 90%;
          }
        }
      }
    }

    /** Image 3 */
    &:nth-child(3) {
      .intro-image-container {
        .intro-image-pseudo {
          max-width: 49rem;
          max-height: 38rem;

          &:before {
            height: 90%;

            @include lg {
              height: 92%;
            }
          }
        }
      }
    }

    & .paragraph-description {
      font-size: 1.6rem;

      @include lg {
        max-width: 40rem;
      }
    }
    .content-wrapper {
      @include lg {
        justify-content: center;
      }

      .product-description .row > a:last-child {
        margin-left: 0;
      }
    }

    & .-active {
      left: 0px;
      border: red 1px solid;
    }

    &:nth-child(even):not(.-active) {
      left: -9999px;
      border: blue 1px solid;
    }

    &:nth-child(odd):not(.-active) {
      left: 9999px;
      border: green 1px solid;
    }
  }

  & .product-description {
    order: 0;
    margin-top: 1.5rem;

    @include md {
      order: 1;
      margin-top: 0;

      padding: 2rem 1rem;
    }

    @include lg {
      padding: 4rem 1rem;
    }

    @include lgx {
      padding: 7rem 1rem;
    }
  }
}

.download {
  margin-top: 15rem;
}
