.header {
  width: 100%;
  max-width: 120rem;
  height: 10rem;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 4rem;

  @include lg {
    padding-top: 2.5rem;
    height: auto;
  }

  & .menu-icon {
    order: 2;
    z-index: 3;
  }

  .header-logo {
    order: 1;
    z-index: 3;

    @include md {
      flex: 2;
    }

    @include lg {
      flex: 1;
    }

    & .logo-image {
      transition-delay: 0.1s;
    }
  }

  .menu-btn:checked ~ .header-logo {
    & .logo-image {
      filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg)
        brightness(1000%) contrast(1000%);
      transition-delay: 0.2s;
    }

    position: fixed;
  }

  .menu-btn:checked ~ .header-menu {
    transform: scale(1);
    background-color: rgba(19, 30, 78, 0.9);

    position: fixed;
    z-index: 1;
  }

  .header-menu {
    display: flex;
    flex-direction: column;
    transition: all 0.2s ease-in;
    align-items: center;
    justify-content: space-between;

    height: 100vh;
    padding: 3rem;
    overflow: hidden;
    position: fixed;
    z-index: initial;
    transform: scale(0);
    top: 0;
    left: 0;
    right: 0;

    @include md {
      height: auto;
      transform: scale(1);
      background-color: transparent;
      flex-direction: row;
      position: static;
      order: 2;
      flex: 3;
    }

    @include lg {
      flex: 1;
      padding: 0;

      // max-width: 67rem;
    }
  }

  & .menu-list {
    margin-top: 75px;

    @include md {
      margin-top: 0;
    }
  }

  & .menu-list,
  & .social-list {
    width: 100%;
  }

  & .social-list {
    width: 80%;
  }
}
