.intro {
  width: 100%;

  max-width: 120rem;
  margin: 0 auto;
  margin-top: 4rem;

  @include md {
    margin-top: 10rem;
  }
}

.content-wrapper {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;

  @include md {
    flex-direction: row;
    text-align: left;
  }

  @include lg {
    height: 48rem;
    width: 100%;
  }

  .product-description {
    padding: 2.5rem 2.5rem 4.5rem;

    @include md {
      flex: 2;
    }

    @include lg {
      padding-right: 0;
      margin-left: 0;
      max-width: 50rem;
      flex: 1;
    }

    @include lgx {
      margin-left: 0rem;
    }

    @include lxx {
      margin-left: 4rem;
      padding-left: 0;
    }

    & .paragraph-description {
      @include md {
        padding: 2rem 0rem;
      }
    }

    & .row {
      margin-top: 1.5rem;
      @include row(center);

      & > a:last-child {
        margin-left: 1rem;

        @include md {
          margin-left: 1.5rem;
        }
      }

      @include md {
        justify-content: flex-start;
      }
    }
  }
}
