.header {
  border: 1px solid #000;
  width: 100%;
  display: flex;

  justify-content: space-between;
  align-items: center;
  padding: 4rem 3rem;

  .header-logo {
    order: 1;
    // display: inline-block;
    // width: 15rem;
    z-index: 40;
    // height: 2.5rem;

    .logo-image {
    }
  }

  .header-menu-btn {
    display: none;
  }

  .header-menu-icon {
    cursor: pointer;
    order: 2;

    // position: relative;
    //
    z-index: 3;

    text-indent: -9999px;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;

    .menu-nav-icon {
      display: block;
      width: 18px;
      height: 3px;
      position: relative;
      background: $fourth-color;

      &:before,
      &:after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        transition: all 0.2s ease-out;
        position: absolute;
        background: $fourth-color;
        top: 0.6rem;
      }

      &:after {
        top: -0.6rem;
      }
    }
  }

  .header-menu-btn:checked ~ .header-logo {
    .logo-image {
      filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg)
        brightness(1000%) contrast(1000%);
      position: fixed;
      top: 4rem;
    }
  }

  .header-menu-btn:checked ~ .header-menu-icon .menu-nav-icon {
    background: transparent;
    position: fixed;
    top: 5rem;
    right: 3rem;
  }

  .header-menu-btn:checked ~ .header-menu-icon {
    & .menu-nav-icon:before {
      background-color: #fff;
      transform: rotate(-45deg);
      top: 0;
    }

    & .menu-nav-icon:after {
      background-color: #fff;
      transform: rotate(45deg);
      top: 0;
    }
  }

  .header-menu-list-item .header-menu-list-item-item:hover,
  .header-menu-btn:hover {
    background-color: $primary-color;
  }

  .header-menu-btn:checked ~ .header-menu {
    transition: all 0.2s ease-in;
    left: 0;
    right: 0;

    position: fixed;
  }

  .header-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $fourth-color;
    // background-color: transparent;
    // width: 100vw;
    height: 100vh;
    padding: 1rem;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: -200%;
  }

  .header-menu-list,
  .header-social-list {
    margin-top: 40px;
  }
}
