html {
  font-size: 62.5%;
  height: 100%;
  width: 100%;
}

body {
  font-size: 1.8rem;
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: var($screen-xl-max);
  margin: 0 auto;
}

body,
body * {
  box-sizing: border-box;
}

a {
  color: inherit;
  cursor: pointer;
}
